html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

figure {
    background-color: #dedede;
    border-radius: 10px;
    border: 2px solid black;
 

}


.grid {
    display: grid;
    grid-template-columns: auto ;
    gap: 10px ;
   
  }

img {
    width:100%;

}

figcaption {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    overflow: hidden;
    padding: 77px;

}    


/* Media queries for tablette view  */
@media screen and (min-width: 772px) {
    .grid {

        grid-template-columns: auto auto ;
        
    
    }
    figure{
    overflow:hidden;
    border-radius: 50%;
    }
    figcaption {

    }
    .grid figure:nth-child(9) {
        grid-column: 1/ 3;

    }

/* Media queries for large screen */
    
}
@media screen and (min-width: 992px) {
    .grid figure:nth-child(3n) {
    background-color: red;
    grid-column: 1/4;
    }
    figure{
        border-radius: 3%;
    }

}
 @media all and(prefers-reduced-motion: reduce) {
    body{
        scroll-behavior:auto ;

    }
    
 }
 @media all and (prefers-color-scheme: dark) {
    figure {
    background-color: #242323;
    border-radius: 10px;
    border: 2px solid black;
    }
    figcaption {
        color: rgb(255, 174, 0);
    }
 

}


